@model RoleDetailsModel
@{
    this.ViewData["Title"] = "Role details";
}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
    <!-- Page Heading -->
        <!-- Page Heading -->
    <div class="tm-bg-primary-dar tm-block-product-categories">
    <h1 class="tm-block-title">Role details - @Model.Role.Name</h1>
    <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <h3 class="tm-block-title">List of user in role(@Model.TotalUsersCount)</h3>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <ul class="tm-block-title" style="list-style-type:none;">
                <li>
                    <select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()" style="border-radius: 1rem;">
                        <option value="10" selected="@(Model.PaginationData.ItemsPerPage == 10)">10</option>
                        <option value="50" selected="@(Model.PaginationData.ItemsPerPage == 50)">50</option>
                        <option value="100" selected="@(Model.PaginationData.ItemsPerPage == 100)">100</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
             <a class="tm-product-delete-link" asp-controller="Roles" asp-action="CreateUserRole">
                <i class="fas fa-plus tm-product-delete-icon"></i>
            </a>
        </div>
    </div>

    <div class="tm-product-table-container">
        <table class="table tm-table-small tm-product-table">
            <thead>
                <tr>
                <th scope="col">Username</th>
                <th scope="col">Firts name</th>
                <th scope="col">Last name</th>
                <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr >
                        <td class="tm-product-name">@user.UserName</td>
                        <td class="tm-product-name">@user.FirstName</td>
                        <td class="tm-product-name">@user.LastName</td>
                        <td class="text-center">
                            <a class="tm-product-delete-link" asp-controller="Roles" asp-action="Delete" asp-route-id="userRole?.Id">
                                <i class="fas fa-trash-alt tm-product-delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    <div class="centre">
        <partial name="_ServerSidePaginationPartial" model="Model.PaginationData" />
    </div>
</div>
</div>

@section Scripts{
    <script src="~/js/pagination.js"></script>
    <script>
		let url = "@Model.PaginationData.Url";
		let numberOfPagesUrl = @Model.PaginationData.NumberOfPages;
		let itemsPerPage = @Model.PaginationData.ItemsPerPage;
		InitializePaginationList(url, numberOfPagesUrl, itemsPerPage)

         function ddlItemsPerPage_OnChange() {
            var e = document.getElementById("ddlItemsPerPage");
            var itemsPerPage = e.options[e.selectedIndex].text;
            var controller = "Roles";
            var action = "'Details";

            var link = "/"+controller+"/"+action+"/?page="+ @GlobalConstants.DefaultPage+"&itemsPerPage="+ itemsPerPage;
            window.location.href = link;
        }
    </script>
}
